.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-holder {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #09d3ac;
  color: #282c34;
  width: 100%;
}

.App-link {
  color: #09d3ac;
}

.side-nav {
  position: fixed;
  left: 0px;
  top: 36px;
  padding-top: 10px;
}

.side-nav a {
  padding: 5px;
  margin-right: 5px;
}

.side-nav a.active {
  background-color: #09d3ac;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
